/* TailwindCSSで表現できない動的な進捗バー */

.progressBar {
  height: 100%;
  background-color: oklch(58.5% 0.233 277.117); /* indigo-500 */
  border-radius: calc(infinity * 1px);
  transition: width 0.3s ease;
  width: var(--progress);
}
